.custom-shape-divider-top-1669995089 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-top-1669995089 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 216px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1669995089 .shape-fill {
  fill: #fbe8bd;
}
